 @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body{
    font-family:"quicksand", sans-serif;
}
ul{
    list-style: none;
}
a {
    text-decoration: none;
}
.container{
    max-width: 1100px;
    margin: auto ;
}
.primary-text {
    color: #e6aa2a;
}
.btn{
    display: inline-block;
    padding: 15px 30px ;
    border: none;
    border-radius: 15px;
}
.btn-primary {
    color: #fff;
    border: 1px solid #fff;
}
.btn-secandary{
    color: #fff;
    background: #383848;
    margin-top: 2rem;
}

.btn-secandary:hover , .btn-primary:hover {
    background-color: #e6aa2a;
}
/* header */
header{
    height: 100vh;
    background: url('../images/home_bg.jpeg') center center/cover no-repeat;
    position: relative;
}
#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#navbar img {
    width: 80px;
    margin-left: 100px;
}
#navbar ul {
    display: flex;
    margin-right: 100px;
}
#navbar ul li a {
    padding: 15px 20px;
    color: #fff;
    font-weight: 600;
}
#navbar ul li a:hover{
    border-bottom: 2px solid #e4b95b;
}
header .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 75%;
}
header .content h1 {
    font-size: 40px;
    color: #fff;
}
header .content p {
    color: #fff;
    margin: 20px 0 40px;
}
header::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgb(0, 0, 0 , 0.4);
}
header * {
    z-index: 10;
}
/* About section */
#about{
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f4f4f4;
}
#about .title , #offers .title  , #menu .title{
    text-align: center;
    margin-bottom: 4rem;
}
#about h2 , #offers h2 ,#menu h2 , #gallery h2 {
    font-size: 40px ;
    margin-top: 30px;
    margin-bottom: 15px;
}
#about h2 , #menu h2  {
    color: #383848;
}
#about .title p , #menu .title p {
    font-size: 14px;
    color: #9a9a9a;
    font-weight: 600;
}
#about .about-content{
    display: flex;
    justify-content: space-between;
}
#about .about-content img {
    width: 400px;
}
#about .about-content p {
    color: #9a9a9a ;
    margin-right: 7rem;
    font-weight: 500;
    line-height: 1.6;
}
#offers{
    height: 80vh;
    display: flex;
    justify-content: center;
    background: url('../images/offer-background.jpg') center center/cover fixed;
}
#offers h2 {
    color: #e6aa2a;
}
#offers .title {
    color: #fff;
    font-weight: 500;
}
#offers .offers-items {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
}
#offers .offers-items img {
    width: 200px;
}
#offers .offers-items h3 {
    font-size: 25px;
    margin: 15px 0; 
}
#offers .offers-items p {
    font-size: 14px;
    padding: 0 20px ;
    font-weight: 300;
    margin-bottom: 15px;
}
#menu {
    background: #f4f4f4;
    padding: 5rem 0 ;
}
#menu .menu-items {
    display: flex;
    justify-content: center;
    align-items: center;
}
#menu .menu-items .menu-item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px;
}
#menu .menu-items .menu-item img {
    width: 80px;
    border-radius: 50%;
    margin-right: 20px;
}
#menu .menu-items .menu-item h3 {
    color: #383848;
    border-bottom: 1px dashed #c2bdbd;
    padding-bottom: 10px;
    margin-bottom: 10px;
    position: relative;
}
#menu .menu-items .menu-item span {
    position: absolute;
    top: 0;
    right: 0;
}
#menu .btn {
    display: block;
    margin:  20px auto 0;
    background: #e6aa2a;
    color: #fff;
    cursor: pointer;
}
#menu .btn:hover{
    background: #383848;
}
#daytime {
    background: url("../images/daytime_bg.jpeg") center center/cover fixed no-repeat;
    color: #fff;
    text-align: center;
}
#daytime .daytime-items {
    display:flex ;
    justify-content: space-evenly;
    align-items: center;
    height: 40vh;
}
#daytime .daytime-items h3{
    font-size: 32px;
    margin: 20px 0 10px ;
}
#daytime .daytime-items p {
    font-weight: 500;
}
#gallery {
    background: url("../images/offer-background.jpg") center center/cover fixed no-repeat;
    padding: 8rem 0 6rem;
}
#gallery h2{
    color: #fff;
    text-align: center;
}
#gallery .image-gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
#gallery .image-gallery img {
    width: 280px;
    height: 200px;
    border-radius: 15px;
    margin: 20px ;
    opacity: 0.8;
}
#gallery .image-gallery img:hover{
    opacity: 1 ;
}
#contact {
    padding: 5rem 0;
    background: #f4f4f4;

}
#contact .container {
    max-width: 900px;
}
#contact .contact-contant {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#contact .contact-contant .contact-info {
    width: 50%;
}
#contact .contact-contant .contact-info div {
    margin: 30px 0 ;
    line-height: 1.7;
}
#contact .contact-contant .contact-info h3 {
    font-size: 28px;
    color: #383848;
    margin-bottom: 10px ;
}
#contact .contact-contant .contact-info p {
    color: #9a9a9a;
}
#contact .contact-contant .contact-info i {
    color: #e6aa2a;
    margin-right: 5px;
}
#contact .contact-contant .contact-info a i {
    color: #fff;
    background-color: #383848;
    padding: 15px;
    border-radius: 50%;
    font-size: 20px;
}
#contact .contact-contant .contact-info a i:hover{
    background-color: #e6aa2a;
    color: #383848;
}
form {
    width: 50%;
}
form input , textarea {
    display: block;
    width: 100%;
    padding: 20px 15px;
    margin: 20px 0;
    border: none;
    background-color: #e3e2dd;
}
#contact .btn {
    background: #e6aa2a;
    color: #fff;
    cursor: pointer;
}
#contact .btn:hover{
    background-color: #383848;
}
footer{
    background-color: #383848;
    text-align: center;
    color: #fff;
    padding: 15px 0;
    font-size: 14px ;
}
footer a {
    color: #fff;
}